@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: 'Ubuntu';
}
body{
    margin:180px auto;
    max-width: 1000px;
    height: 100vh;
}
header{
    color: orange;
    font-size: 2rem;
    font-weight: bold;
}
.operation{
    display: grid;
    grid-template-columns: repeat(auto-fit,1fr);
}
.map-information{
    padding: 20px;
}
.map-information:nth-of-type(1){
    grid-column: 1/4;
    width: 460px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.map-information:nth-of-type(2){
    grid-column: 4/11;
    grid-row: 1/4;
}
.map-information:nth-of-type(3){
    grid-column: 1/11;
}


.map-information h1{
    color: #23418f;
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.map-information h2{
    color: #178e44;
    font-size: 1.9rem;
    font-weight: bold;
}
.line{
    width: 60%;
    background-color: skyblue;
    height: 3px;
    margin-block: 10px;
}

.setup{
    display: flex;
    gap: 10px;
    align-items: center;   
}

.setup p{
    color: #23418f;
    font-size: 1.1rem;
    font-weight: 700;
}
.setup img{
    width: 50px;
}

.country{
    color:cornflowerblue;
    font-weight: 700;
}

.phone-number,.mail,address{
    margin-top: 10px;
    color:cornflowerblue;
    font-weight: 700;
    text-align: justify;
}
.county path:hover{
    cursor: pointer;
    fill: #23418f;
}
.selected{
    fill: #23418f;
}


.graph-container {
    position: relative;
    width: 400px;
    height: 300px;
    bottom: 70%;
}

.x-axis, .y-axis {
    position: absolute;
    background-color: #000;
}

.x-axis {
    bottom: 0;
    width: 950px;
    height: 1px;
    left: 10%;
}

.y-axis {
    left: 10%;
    width: 1px;
    height: 20%;
    bottom: 0;
}

.tick {
    position: absolute;
    color: #000;
    font-size: 12px;
}

.x-tick {
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 1.2rem;
}

.x-tick::before { /* Add this block */
    content: '';
    position: absolute;
    bottom: -30px;
    left: 40%;
    width: 1px;
    height: 15px;
    background-color: #000;
}

.y-tick {
    left: 15px;
    top: 45%;
    transform: translateY(50%);
    color: #178e44;
    font-size: 2rem;
    font-weight: 600;
}











@media (max-width:900px){
    .map-information{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .map-information:nth-of-type(2){
        grid-column: 1;
        grid-row: 2;
    }
}